<%- include('../includes/header.ejs')  %>

    <main class="content">
        <h1 class="page-title">اضافه کردن محصول</h1>
        <form method='POST' class="add-product-form">
            <input type="text" name='title' placeholder="عنوان محصول">
            <input type="text" name='description' placeholder="توضیح محصول">
            <input type="text" name='price' placeholder="قیمت">
            <button>افزودن</button>
        </form>
    </main>
    <%- include('../includes/footer.ejs')  %>