<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <header>
        <nav class="top-menu">
            <ul>
                <li>
                    <a href="/">فروشگاه</a>
                </li>
                <li>
                    <a href="/products">محصولات</a>
                </li>
                <li>
                    <a href="/cart">سبد خرید</a>
                </li>
                <li>
                    <a href="/orders">سفارشات</a>
                </li>
                <li>
                    <a href="/admin/products">محصولات ادمین</a>
                </li>
                <li>
                    <a href="/admin/add-product">اضافه کردن محصولات</a>
                </li>
            </ul>
        </nav>
    </header>