<%- include('includes/header.ejs')  %>

    <main class="content">
        <h1 class="page-title">اضافه کردن محصول</h1>
        <form method='POST' class="add-product-form">
            <input type="text" name='title'>
            <button>افزودن</button>
        </form>
    </main>
    <%- include('includes/footer.ejs')  %>